data/courses_data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="course-collection">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="course-details" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="rating" type="xs:string" />
                            <xs:element name="no-of-ratings" type="xs:string" />
                            <xs:element name="course">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" type="xs:string" />
                                        <xs:element name="sub-title" type="xs:string" />
                                        <xs:element name="description" type="xs:string" />
                                        <xs:element name="id" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tutor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="designation" type="xs:string" />
                                        <xs:element name="experience" type="xs:string" />
                                        <xs:element name="img" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="curriculum">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="chapter" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="number" type="xs:string" />
                                                    <xs:element name="title" type="xs:string" />
                                                    <xs:element name="description" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="price">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="old-price" type="xs:string" />
                                        <xs:element name="new-price" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="img-src" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>